tabulate>=0.8.0,<0.9.0
# In order to work with the "mu" Lambda function management tool,
# we need PyYAML 3.x, and need it as source and not a wheel
pyyaml
# for building generated policy docs
sphinx>=1.8.0,<1.9.0
c7n==0.9.4
c7n-mailer==0.6.3
# to match up with c7n / c7n-mailer dependencies
boto3==1.14.16
botocore==1.17.16
docutils==0.15.2
jmespath==0.10.0
