boto3
tabulate>=0.8.0,<0.9.0
# In order to work with the "mu" Lambda function management tool,
# we need PyYAML 3.x, and need it as source and not a wheel
pyyaml
# for building generated policy docs
sphinx>=1.8.0,<1.9.0
